#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

kbd{
  white-space:nowrap;
  color:#000;
  background:#eee;
  border-style:solid;
  border-color:#ccc #aaa #888 #bbb;
  padding:2px 6px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-box-shadow:0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px #ffffff inset;
  -webkit-box-shadow:0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px #ffffff inset;
  box-shadow:0 2px 0 rgba(0, 0, 0, 0.2),0 0 0 1px #ffffff inset;
  background-color:#FAFAFA;
  border-color:#CCCCCC #CCCCCC #FFFFFF;
  border-style:solid solid none;
  border-width:1px 1px medium;
  color:#444444;
  font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif;
  font-size:11px;
  font-weight:bold;
  white-space:nowrap;
  display:inline-block;
  margin-bottom:5px;
}

.simpletab1 {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #2D2D2D;
  border-bottom: 2px solid #009ff2;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

.simpleitem1 {
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #2D2D2D;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

.noticesc {
  width: 90%;
  margin: 2em auto;
  font: 300 1.15em/1.5 "Raleway", sans-serif;
  color: #333333;
  text-shadow: 0 1px 0 #ebebeb;
  border: 1px solid #dedede;
  border-left: none;
  border-right: none;
  padding: 1em;
}

/* 1. Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}
main {
    display: block;
}
[hidden] {
    display: none
}
.border-indigo-200 {
    border-color: #c3dafe
}
@media(min-width:1024px) {
	main>aside {
		margin-left: 1rem;
		border-left-width: 4px;
		border-color: #a3bffa
	}
	main>aside.tableOfContentContainer {
		position: -webkit-sticky;
		position: sticky;
		top: 79px;
		align-self: start
	}
	main>aside>h3 {
		font-size: 1rem;
		padding-left: .5rem;
		color: #1a202c;
		font-weight: 700;
		padding-bottom: .5rem;
		padding-top: 1rem
	}
	main {
		display: grid;
		grid-template-columns: 100% 100%;
	}
	#TableOfContents {
		display: block;
		padding-left: .5rem;
		padding-bottom: 1rem;
		font-size: 1rem;
		color: #1a202c
	}
	#TableOfContents li {
		padding-top: .25rem;
		padding-bottom: .25rem;
		list-style: none
	}
	#TableOfContents li.active {
		padding-left: 0
	}
	#TableOfContents li.active:before {
		content: "\21E8";
		display: inline-block;
		margin-left: -32px;
		width: 20px
	}
	#TableOfContents li.active>a {
		color: #333;
		font-weight: 500
	}
	#TableOfContents a {
		text-decoration: none;
		padding: .125rem 0;
		color: #a0aec0;
		-webkit-transition: all 50ms ease-in-out;
		transition: all 50ms ease-in-out
	}
	#TableOfContents a:hover,
	#TableOfContents a:focus,
	#TableOfContents a:active {
		color: #666
	}
	.lg\:block {
		display: block
	}
	.lg\:flex {
		display: -webkit-box;
		display: flex
	}
	.lg\:hidden {
		display: none
	}
	.lg\:items-center {
		-webkit-box-align: center;
		align-items: center
	}
	.lg\:h-32 {
		height: 8rem
	}
	.lg\:h-64 {
		height: 16rem
	}
	.lg\:mt-0 {
		margin-top: 0
	}
	.lg\:pr-0 {
		padding-right: 0
	}
	.lg\:pr-2 {
		padding-right: .5rem
	}
	.lg\:text-left {
		text-align: left
	}
	.lg\:w-auto {
		width: auto
	}
}

nav a.active {
	font-weight: 700;
	color: #1a202c
}

.LinkPreview {
  margin-top: 2em;
  border-radius: 10px;
  border-color: #919EAB;
  box-shadow: 5px 5px 10px #888888;
  font-family: 'Roboto', sans-serif;
}

.LinkPreview:hover {
  background-color: #F9FAFB;
}

.LinkPreview a {
  text-decoration: none;
  color: black;
}

.LinkPreview .content {
  margin-top: 0;
  padding: 5px;
  border-left: 1px solid grey;
  border-top-width: 0px;
  border-radius: 0 0 10px 10px;
}

.LinkPreview img {
  object-fit: cover;
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 0;
  display: block;
}

.LinkPreview h4{
  padding: 0;
  margin: 0;
}

.LinkPreview .description {
  padding-top: 5px;
  color: grey;
}
