[submodule "themes/bleak"]
	path = themes/bleak
	url = https://github.com/Zenithar/hugo-theme-bleak.git
[submodule "public"]
	path = public
	url = git@github.com:fusion/fusion.github.io.git
	branch = master
